<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{include file="pageheader.htm"}

<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>分类名称</th>
      <th>图片</th>
      <th>商品id</th>
      <th>商品名称</th>
      <th>商品价格</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$brand_list item=brand}
    <tr>
      <td class="first-cell">
        <span style="float:left">{$brand.admin_name}</span>
      </td>
      <td><img src="../{$brand.goods_img}" alt="" width='80'></td>
      <td align="left">{$brand.goods_id}</td>
      <td align="left">{$brand.goods_name}</td>
      <td align="left">{$brand.shop_price}</td>
      <td align="center">
        <a href="mobile_main.php?act=edit&id={$brand.id}" title="{$lang.edit}">{$lang.edit}</a>
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="6">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
<!-- end brand list -->
</div>
</form>

{include file="pagefooter.htm"}
{/if}